<mat-spinner *ngIf="authService.isLoading"></mat-spinner>
<mat-card *ngIf="!authService.isLoading">
    <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        ngModel
        name="email"
        matInput
        required
        email
        #emailInput="ngModel"
      >
      <mat-error *ngIf="emailInput.invalid">Invalid Email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        ngModel
        required
        minlength="5"
        name="password"
        matInput
        #passwordInput="ngModel"
      >
      <mat-error *ngIf="passwordInput.invalid">Invalid Password</mat-error>
    </mat-form-field>

    <mat-card-actions>
      <button type="submit" mat-button color="accent">LOGIN</button>
    </mat-card-actions>
  </form>

</mat-card>